@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Changa:wght@400;500;700&family=Kdam+Thmor+Pro&family=Lobster&display=swap');@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Changa:wght@400;500;700&family=Kdam+Thmor+Pro&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Changa';
    text-decoration: none;
}

:root {
    --white: #ffffff;
    --green: #758c3e;
    --brown: #5c3c2f;
    --clarito: #d4eed6;
    --notanclaro: #c4d7a1;
}

/* .section-container {
    background-color: var(--white);
} */

/* .section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 70px 0;
    width: 95%;
    max-width: 1300px;
} */

/*Header*/

/* .hero-container {
    position:sticky;
    top: 0%;
    z-index: 9999;
} */

.header {
background-color: var(--white);
margin: 0 auto;
height: 100px;
max-width: 1400px;
display: flex;
justify-content: space-between;
align-items: center;
box-shadow: 0 0.1px;
}


.header-logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
}

.header-logo img {
    height:100%;
}

.navbar, .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-list{
    padding: 0 10px;
    gap: 50px;
}

.navbar i {
    font-size: 30px;
    color:var(--green);
    cursor: pointer;
    display: none;
}

#toggle-menu {
    display: none;
}

.navbar-list a {
    color: var(--green);
    font-size: 13px;
}

.navbar-list li:nth-child(4){
    background-color: var(--clarito);
    color: var (--white);
    border: 1px solid #d4eed6;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 3px;
    transition: all 0.3s linear;

}

.navbar-list li:nth-child(5) {
    background-color: var(--white);
    border: 1px solid #d4eed6;
    font-size: 14px;
    padding: 5px 30px;
    border-radius: 3px;
    transition: all 0.3s linear;
}

.navbar-list li:nth-child(4):hover {
    background-color: var(--notanclaro);
    color: var(--white);
}

.navbar-list li:nth-child(5):hover {
    background-color: var(--clarito);
    color: var(--white);
}

.navbar-list li:hover {
    box-shadow: 0 2px var(--green);
}

/*Breakpoints*/

@media (max-width: 992px) {

.navbar i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 26px;
}

.navbar i:hover {
    margin: 0 20px;
    background-color: #c4d7a1;
    color: var(--white);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 30px;
    cursor: pointer;
    }

.navbar-list {
    position: absolute;
    background-color: var(--white);
    flex-direction: column;
    top: 100px;
    right: 0;
    width: 100%;
    height: calc(100vh - 100px);
    display: none;
    z-index: 9999;
}

#toggle-menu:checked + .navbar-list {
    display: flex;
}
}


/* Hero */

.hero-section {
    max-width: 1400px;
    margin: 0 auto;
position: relative;
width: 100%;
height: 95vh;
background: #f5f5f5;
background-size: cover;
background-position: auto;
transition: all .1s ease-in-out;
background-image: url('/assets/imgs/pexels-chevanon-photography-302899.jpg');
animation: hero 20s infinite linear;
}

.hero-background {
    width: 100%;
    height: 100%;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-background h1 {
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

.hero-background a{
    text-decoration: none;
    color: #ffffff;
    padding: 9px 20px; 
    border: 1px solid #FFFF;
text-transform: uppercase;
transition: all 0.3s ease-in-out;
}

.hero-background a:hover{
    background-color: var(--notanclaro);
    color: #333;
}

@keyframes hero{
    0% {
        background-image: url(/assets/imgs/abstract-blur-coffee-shop-cafe-interior_74190-6342.jpg);
    }
    25% {
        background-image: url(/assets/imgs/abstract-blur-coffee-shop-cafe-interior_74190-6342.jpg);
    }
    26% {
        background-image: url(/assets/imgs/pexels-chevanon-photography-302899.jpg);
    }
    50% {
        background-image: url(/assets/imgs/pexels-chevanon-photography-302899.jpg);
    }
    51% {
        background-image: url(/assets/imgs/banner3.jpg)
    }
    75% {
        background-image: url(/assets/imgs/banner3.jpg);
    }
    76% {
        background-image: url(/assets/imgs/Coffee-shop.jpg);
    }
    100% {
        background-image: url(/assets/imgs/Coffee-shop.jpg);
    }
}

/* First Article */

.article__us {
    max-width: 1400px;
    margin: 0 auto;
padding: 70px 0;
gap: 100px;
width: 100%;
height: 50vh;
display: flex;
justify-content: center;
align-items: center;
}

 #about-us {
gap: 20px;
} 

.article__content{
    height: 250px;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 5px;
    box-shadow: -20px 10px 60px 5px rgb(229, 229, 229);
}

.article__img {
background-image: url(/assets/imgs/photo-1595441721716-67792383506e.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 250px;
width: 100%;
border-radius: 5px;
}

.article__texts {
    padding: 0 20px;
}

.article__texts h2 {
color: var(--green)
}

.article__texts h3 {
    color: var(--brown)
}

@media (max-width:768px) {

    .article__content {
        padding: 10px 0;
        height: 350px;
        box-shadow: none;
    }
    #about-us {
        display: flex;
        flex-direction: column;
    }
    
    .article__img {
        background-image: url(/assets/imgs/photo-1595441721716-67792383506e.jpg);
        height: 100%;
        width: 90%;        
        border-radius: 5px;
    }

    .article__texts {
        text-align: center;
    }
}

.article__waves {
        background-color: var(--white);
        max-width: 1400px;
        margin: 0 auto;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

